

{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js'%}" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% for aluno in boletins %}
            {% ifchanged aluno.aluno_bimestre_id %}
                <div>
                    <spam>Ano Letivo: {{aluno.bimestre.ano_letivo}}</spam>
                </div>

                <div>
                    <spam>Aluno: {{aluno.aluno_bimestre_id}}</spam>
                </div>
            {% endifchanged %}
        {% endfor %}    
        <table class="table table-hover">
        {% for boletim in boletins %}
            {% ifchanged boletim.bimestre.bimestre %}
                <thead>
                    <tr>
                        <th>Bimestre</th>
                        <th>Materia</th>
                        <th>Nota</th>
                    </tr>
                </thead>
            {% endifchanged %}
            <tbody>
                <tr>
                    <td>
                        {{boletim.bimestre.bimestre}}
                    </td>
                    <td>
                        {{boletim.materia.nome}}
                    </td>
                    <td>
                        {{boletim.nota}}
                    </td>
                </tr>
       
            </tbody>
            {%endfor%}
       
        </table>

          
    </body>
</html>