{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js'%}" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div>
            <button type="button" class="btn btn-primary" onClick="location.href='{% url "add_aluno" %}'">Adicionar Aluno</button>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>e-Mail</th>
                    <th>Data Nascimento</th>
                    <th>Responsavel</th>
                    <th>Contato Responsavel</th>
                </tr>
            </thead>
            <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td>
                        <a href={% url 'alter_aluno' aluno.id%}>{{aluno.nome}}</a>
                    </td>
                    <td>
                        {{aluno.email}}
                    </td>
                    <td>
                        {{aluno.data_nascimento}}
                    </td>
                    <td>
                        {{aluno.responsavel}}
                    </td>
                    <td>
                        {{aluno.telefone_responsavel}}
                    </td>
                </tr>
            
            {% empty %}
                <tr><td colspan="5"><center><b>Nenhum aluno cadastrado<b></center></td></tr>

            {% endfor %}
             
            </tbody>
        </table>
    </body>
</html>